{% extends "profilea.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Add Car</h1>
      <p class="lead">Add a car to your fleet</p>
    </div>
  </div>

  <div class="card border-primary mb-3  text-center mx-auto" style="max-width: 18rem; ">
    <div class="card-header">Enter details to add car</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Car Info</h5>
      <p class="card-text">

        <form>
          <div class="mb-3 align-items-center" >
            <label for="exampleInputEmail1" class="form-label">Car name </label>
            <input type="text" class="form-control" name="carname" >
          </div>
          <div class="mb-3 align-items-center">
            <label for="exampleInputPassword1" class="form-label">Model Number</label>
            <input type="text" class="form-control" name="modelnumber">
          </div>
          <div class="mb-3 align-items-center">
            <label for="exampleInputPassword1" class="form-label">Category</label>
            <input type="text" class="form-control" name="category">
          </div>
          <div class="mb-3 align-items-center">
            <label for="exampleInputPassword1" class="form-label">Cost</label>
            <input type="number" class="form-control" name="cost">
          </div>
          <button type="submit" class="btn btn-primary">Add Car</button>
        </form>
        
      </p>
    </div>
  </div>





{% endblock %}