<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="description" content="This website allows for rental of cars"/>
    <meta name="copyright"content="Kreation Inc">
    <meta name="language" content="en">
    <meta name="Classification" content="Business">
    <meta name="author" content="Universal Rentals, kyeal1995@hotmail.com">
    <meta name="owner" content="Kyeal Lawrence">
    <title>Car Rental</title>
  </head>
  <body>
    <h1>This is HTML age with one paragraph.</h1>
    <br>
    <img src="/static/images/logo.png" alt="car rental Logo" width="5%" height="auto">
</body>
</html>
