<!doctype html>
<html lang="en">
  <head>
  	<title>Account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static',filename='stylea.css')}}">
    <!--===============================================================================================-->  
  <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/perfect-scrollbar/perfect-scrollbar.css')}}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='util.css')}}">

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type= "text/css" href="{{ url_for ('static', filename='fonts/icomoon/style.css')}}">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap-datepicker.css')}}">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='jquery.fancybox.min.css')}}">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='owl.carousel.min.css')}}">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='owl.theme.default.min.css')}}">
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css')}}">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='aos.css')}}">

  <link href= "{{ url_for('static',filename='vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href= "{{ url_for('static',filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href= "{{ url_for('static',filename='vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href= "{{ url_for('static',filename='vendor/venobox/venobox.css')}}" rel="stylesheet">

  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/php-email-form/validate.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/waypoints/jquery.waypoints.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/counterup/counterup.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/venobox/venobox.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/aos/aos.js')}}"></script>
  <script src="{{ url_for('static',filename='js/main.js')}}"></script>

<!--===============================================================================================-->

  </head>
  <body style="background-color:#A0A0A0;" >
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button>
        </div>
	  		<div class="img bg-wrap text-center py-4" style="background-image: url(../static/images/bg_2.jpg);">
	  			<div class="user-logo">
	  				<div class="img" style="background-image: url(../static/images/logo.jpg);"></div>
	  				<h3>{{user.fullname}}</h3>
	  			</div>
	  		</div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#"><span class="#"></span>Account Details</a>
          </li>
           <li>
            <a href="#"><span class="fa fa-user mr-3"></span>{{user.fullname}}</a>
          </li>
          <li>
              <a href="#"><span class="fa fa-envelope mr-3 "><small class="d-flex align-items-center justify-content-center"></small></span> {{user.email}}</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-gift mr-3"></span> Total Points :<span style="color:#009970"> <b>{{user.totalpoints}} &#9733;</b></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-support mr-3"></span> Support</a>
          </li>
          <li>
            <a  data-toggle="modal" href="#exampleModal" class="button " class=""><span class="fa fa-pencil mr-3"></span> Edit Profile Picture</a>
          </li>
          <li>
            <a href="/signout"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
          </li>
        </ul>

    	</nav>

        <!-- Page Content  --> 
      <div id="content" class="p-4 p-md-5 pt-5">
        
        <header style="margin-left: 18%; margin-top: 1%;" id="header" class="fixed-top d-flex align-items-center">
          <div class="container">
            <div class="header-container d-flex align-items-center">
              <div class="logo mr-auto">
                <h1 class="text-light"><a href="/home"><span>Universal Rentals</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
              </div>
      
              <nav class="nav-menu d-none d-lg-block">
                <ul>
                  <li class="active"><a href="/home">Home</a></li>
                  <li><a href="#about">Available cars</a></li>
                  <li><a href="#services">Services</a></li>
                  <li><a href="#portfolio">Portfolio</a></li>
                  <li><a href="#team">Team</a></li>
                  <li><a href="#contact">Contact</a></li>
      
                  <li class="get-started"><a href="/signout">Logout</a></li>
                </ul>
              </nav><!-- .nav-menu -->
            </div><!-- End Header Container -->
          </div>
        </header>
        <br>
        <br>
        <br>
        <br>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4" style="text-align: center;">Welcome {{user.fullname}} </h1>
            <p class="lead" style="text-align: center;"">Below is a table of your Car Rental history thank you for using us!</p>
            <br>
          </div>
        </div>
        <br>
    
 
  

        <div  class="table100 ver3 m-b-110">
          <div class="table100-head">
            <table>
              <thead>
                <tr class="row100 head">
                  <th class="cell100 column1"><strong>Car Rented</strong></th>
                  <th class="cell100 column2"><strong>Car Model</strong></th>
                  <th class="cell100 column3"><strong>Duration</strong></th>
                  <th class="cell100 column4"><strong>Category</strong><th>
                  <th class="cell100 column5"><strong>Points Earned</strong></th>
                  <th class="cell100 column6"><strong>Total</strong></th>
                </tr>
              </thead>
            </table>
          </div>

          <div class="table100-body js-pscroll">
            <table>
              <tbody>
                {% for row in history %}
                <tr class="row100 body">
                  {% for cell in row %}
                  <td class="cell100 column{{loop.index}}">{{cell}}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <br>
        <h1 class="display-3; text-center" style="font-weight: bold; color: white;">Available cars to rent</h1>
        <br>

        <div class="card-deck">
          {% for row in car %}
          <div class="card">
            <img class="card-img-top" src="static/images/{{car[loop.index-1][0]}}.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{car[loop.index-1][1]}}</h5>
                <form  action="/rent" method="post">
                <div class="form-group">
                  <input type="text" class="form-control"  name="carrented" placeholder="{{car[loop.index-1][1]}}" value="{{car[loop.index-1][1]}}">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="modelnumber" placeholder="{{car[loop.index-1][2]}}" value="{{car[loop.index-1][2]}}">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="category"  placeholder="{{car[loop.index-1][3]}}" value="{{car[loop.index-1][3]}}">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="carprice"  placeholder="{{car[loop.index-1][4]}}" value="{{car[loop.index-1][4]}}">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" name="duration"  placeholder="Rental Days">
                </div>
                <div class="form-group">
                  <p style="color: red;"> You have {{user.totalpoints}} bonus points use them to gain discounts! </p>
                  <input min="50" max="{{user.totalpoints}}" type="number" class="form-control" name="points" >
                </div>
                <div class="form-group">
                  <input type="hidden" class="form-control"  name="carid" value="{{car[loop.index-1][0]}}">
                </div>
                <button type="submit" class="btn btn-primary">Rent Car</button>
              </form>
            </div>
            <div class="card-footer">
              <small class="text-muted">Please enter amount of days before trying to rent a car</small>
            </div>
          </div>
          {% endfor %}
        </div>

        
       
      
    </div>

    
  </div>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Profile Picture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/profilepic" method="post">
          <h5> Enter usename below</h5>
          <input placeholder="username..." type="text" name="username">
          <br>
          <label> Upload a picture </label>
          <input type="file" name="myImage" accept="image/*" />
          <br>
          <button type="submit"> Save </button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!--===============================================================================================-->  
  <script src="{{ url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/popper.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
  <script src="{{ url_for('static',filename='vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
  <script src="{{ url_for('static',filename='vendor/perfect-scrollbar/perfect-scrollbar.min.js')}}"></script>
  <script>
    $('.js-pscroll').each(function(){
      var ps = new PerfectScrollbar(this);

      $(window).on('resize', function(){
        ps.update();
      })
    });
      
    
  </script>
<!--===============================================================================================-->
  <script src="{{ url_for('static',filename='js/maintable.js')}}"></script>
      </div>
		

    <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/popper.js')}}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/maina.js')}}"></script>
    
  </body>
</html>

